# This file contains default .gitignore rules. To use it, copy it to .gitignore,
# and it will cause files like your settings.php and user-uploaded files to be
# excluded from Git version control. This is a common strategy to avoid
# accidentally including private information in public repositories and patch
# files.
#
# Because .gitignore can be specific to your site, this file has a different
# name; updating Drupal core will not override your custom .gitignore file.

# Ignore core when managing all of a project's dependencies with Composer
# including Drupal core.
# core

# Ignore dependencies that are managed with Composer.
# Generally you should only ignore the root vendor directory. It's important
# that core/assets/vendor and any other vendor directories within contrib or
# custom module, theme, etc., are not ignored unless you purposely do so.
/vendor/

# Ignore configuration files that may contain sensitive information.
web/sites/*/settings*.php
web/sites/*/services*.yml

# Ignore paths that contain user-generated content.
web/sites/*/files
web/sites/*/private

# Ignore SimpleTest multi-site environment.
web/sites/simpletest

# If you prefer to store your .gitignore file in the sites/ folder, comment
# or delete the previous settings and uncomment the following ones, instead.

# Ignore configuration files that may contain sensitive information.
*/settings*.php
*/settings*.php

# Ignore paths that contain user-generated content.
# */files
# */private

# Ignore SimpleTest multi-site environment.
# simpletest

# Ignore development specifications
/web/sites/default/development.services.yml

# Ignore directories generated by Composer
/drush/contrib/
/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/
!/web/libraries/custom

# Ignore scaffold files
web/.csslintrc
web/.editorconfig
web/.eslintignore
web/.eslintrc
web/.gitattributes
web/.ht.router.php
web/autoload.php
web/index.php
web/sites/default/default.services.pantheon.preproduction.yml
web/sites/default/default.services.yml
web/sites/default/default.settings.php
web/sites/default/settings.pantheon.php
web/sites/default/settings.local.php
web/sites/development.services.yml
web/sites/example.settings.local.php
web/sites/example.sites.php
web/update.php
web/web.config

# Ignore files generated by PhpStorm
.idea

# Packages #
############
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz

# Logs and databases #
######################
*.log
*.sql

# OS generated files #
######################
.DS_Store*
ehthumbs.db
Icon

Thumbs.db
._*

# Vim generated files #
######################
*.un~

# SASS #
##########
.sass-cache

# ignore twig files outside docroot.
/storage/php

# Sbit.io
!.env
!.github
!docker/drupal/*