.paragraph--view-mode--row {
  display: flex;

  > div:not(:last-child) {
    margin-right: 10px;
  }

  &.paragraph--type--survey {
    > div:first-child {
      min-width: 15%;
    }
    > div:not(:first-child) {
      min-width: 25%;
    }
  }
}

// Useful styles for layout builder.
.pill-wrapper .details-wrapper {
  display: flex;
  flex-direction: column;
  .pill {
    margin-bottom: 5px;
  }
  @media (min-width: 48em) {
    flex-direction: row;
    flex-wrap: wrap;
    .pill {
      margin-right: 5px;
      flex: 0 0 calc(20% - 15px);
    }
  }

}

.center {
  text-align: center;
}
